.js-loading-overlay {
    position: absolute;
    z-index: 999;
    background: #fff;
    opacity: 0.5;
    border-radius: inherit;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
}

/* font-awesome spinner */
.js-loading-overlay i {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

a.hoverable {
    text-decoration: none !important;
}
.hoverable .hover-action {
    visibility: hidden;
}
.hoverable:hover .hover-action {
    visibility: visible;
}

/* \Vrok\Form\Element\Interval */
.form-control.interval-amount {
    width: 60%;
    display: inline;
}
.form-control.interval-type {
    width: 39%;
    display: inline;
}